.menu {
	height: 100%;
	.logo-box {
		display: flex;
		align-items: center;
		justify-content: center;
		// width: 100%;
		height: 55px;
		border-bottom: 1px solid #000f1d;
		.logo-img {
			width: 29px;
			margin: 0;
		}
		.logo-text {
			margin: 0 0 0 10px;
			font-size: 23px;
			font-weight: bold;
			color: #dadada;
			white-space: nowrap;
		}
	}
	.ant-menu-root {
		// height: calc(100% - 60px);
		flex: 1;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
